.imageAnimation {
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      animation-fill-mode: both;
      animation-play-state: running;
      animation-name: unset;
}